<a href="https://colab.research.google.com/github/TungSoPon/bsc_dpdm22/blob/main/Hw1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [224]:
import pandas as pd

In [225]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [226]:
from sklearn.metrics import mean_absolute_percentage_error

In [227]:
data1 = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='บ้าน',skiprows=0)
data2 = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ที่ดิน',skiprows=0)
data3 = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='คอนโด',skiprows=0)
data4 = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='ทาวน์โฮม',skiprows=0)
data5 = pd.read_excel('/content/drive/MyDrive/bsc_DMPM_data/คำตอบนักประเมิน.xlsx',sheet_name='อาคารพาณิชย์',skiprows=0)

##เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนและของราคาตั้งขายใช้ MAPE เป็นเกณฑ์ในการเปรียบเทียบ

# บ้าน

In [228]:
home1 = data1[data1['ID ผู้ประเมิน']==1]

In [229]:
home2 = data1[data1['ID ผู้ประเมิน']==2]

In [230]:
home2['ประเมิน1'] = home2['post id'].map(home1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-230-dabaee92263d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  home2['ประเมิน1'] = home2['post id'].map(home1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [231]:
home2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [232]:
home = home2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
home.head()

                               post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1   https://nayoo.co/khonkaen/posts/25   2700000.0  2500000.0  2700000.0
3   https://nayoo.co/khonkaen/posts/33   2600000.0  2200000.0  2400000.0
5  https://nayoo.co/khonkaen/posts/495   5900000.0  5000000.0  9000000.0
7  https://nayoo.co/khonkaen/posts/564   4400000.0  3500000.0  3700000.0
9  https://nayoo.co/khonkaen/posts/566   2750000.0  2500000.0  2500000.0

In [233]:
home.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2       True
dtype: bool

In [234]:
home = home.dropna(subset=['ประเมิน2'])

In [235]:
Ans1_1 = mean_absolute_percentage_error(home['ราคาทรัพย์'],home['ประเมิน1'])
print(f'ผู้ประเมินคนที่ 1 ได้ค่า MAPE = {Ans1_1}')

ผู้ประเมินคนที่ 1 ได้ค่า MAPE = 0.12321512246130807

In [236]:
Ans1_2 = mean_absolute_percentage_error(home['ราคาทรัพย์'],home['ประเมิน2'])
print(f'ผู้ประเมินคนที่ 2 ได้ค่า MAPE = {Ans1_2}')

ผู้ประเมินคนที่ 2 ได้ค่า MAPE = 0.10417687099245776

In [237]:
Ans1 =(Ans1_1 - Ans1_2)
print(f'ความแตกต่างในการประเมินราคาบ้านของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ {Ans1}')

ความแตกต่างในการประเมินราคาบ้านของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ 0.019038251468850312

# ที่ดิน

In [238]:
land1 = data2[data2['ID ผู้ประเมิน']==1]

In [239]:
land2 = data2[data2['ID ผู้ประเมิน']==2]

In [240]:
land2['ประเมิน1'] = land2['post id'].map(land1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-240-93efe46bca9d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land2['ประเมิน1'] = land2['post id'].map(land1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [241]:
land2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [242]:
land = land2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
land.head()

                                 post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1   https://nayoo.co/khonkaen/posts/1033     2800000   1800000.0   2000000.0
4   https://nayoo.co/khonkaen/posts/1711    14900000   8000000.0  12000000.0
7   https://nayoo.co/khonkaen/posts/1726    90000000  18000000.0  70000000.0
10  https://nayoo.co/khonkaen/posts/1732    65000000  35000000.0  60000000.0
13  https://nayoo.co/khonkaen/posts/1866     3000000   2200000.0   2500000.0

In [243]:
land.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [244]:
Ans2_1 = mean_absolute_percentage_error(land['ราคาทรัพย์'],land['ประเมิน1'])
print(f'ผู้ประเมินคนที่ 1 ได้ค่า MAPE = {Ans2_1}')

ผู้ประเมินคนที่ 1 ได้ค่า MAPE = 0.41337842594528956

In [245]:
Ans2_2 = mean_absolute_percentage_error(land['ราคาทรัพย์'],land['ประเมิน2'])
print(f'ผู้ประเมินคนที่ 2 ได้ค่า MAPE = {Ans2_2}')

ผู้ประเมินคนที่ 2 ได้ค่า MAPE = 0.40118780382843416

In [246]:
Ans2 =(Ans2_1 - Ans2_2)
print(f'ความแตกต่างในการประเมินราคาที่ดินของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ {Ans2}')

ความแตกต่างในการประเมินราคาที่ดินของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ 0.012190622116855399

# คอนโด

In [247]:
condo1 = data3[data3['ID ผู้ประเมิน']==1]

In [248]:
condo = condo1[['post id', 'ราคาทรัพย์', 'ประเมินราคาซื้อ-ขาย']]
condo.head()

   post id  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย
0     32.0   3500000.0            3500000.0
1     36.0   1930000.0            2200000.0
2    603.0   2438000.0            2800000.0
3   1395.0   1600000.0            2300000.0
4   1443.0   1860000.0            1800000.0

In [249]:
condo.isnull().any()

post id                False
ราคาทรัพย์             False
ประเมินราคาซื้อ-ขาย    False
dtype: bool

In [250]:
Ans3 = mean_absolute_percentage_error(condo['ราคาทรัพย์'],condo['ประเมินราคาซื้อ-ขาย'])
print(f'ผู้ประเมินคนที่ 1 ได้ค่า MAPE = {Ans2}')

ผู้ประเมินคนที่ 1 ได้ค่า MAPE = 0.012190622116855399

# ทาวน์โฮม

In [251]:
townhome1 = data4[data4['ID ผู้ประเมิน']==1]

In [252]:
townhome2 = data4[data4['ID ผู้ประเมิน']==2]

In [253]:
townhome2['ประเมิน1'] = townhome2['post id'].map(townhome1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-253-4937e547179a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townhome2['ประเมิน1'] = townhome2['post id'].map(townhome1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [254]:
townhome2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [255]:
townhome = townhome2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
townhome.head()

                               post id  ราคาทรัพย์   ประเมิน1   ประเมิน2
1  https://nayoo.co/khonkaen/posts/548   1045000.0   700000.0  1500000.0
3  https://nayoo.co/khonkaen/posts/549    935000.0   700000.0  1500000.0
5  https://nayoo.co/khonkaen/posts/579   3520000.0  3500000.0  4000000.0
7  https://nayoo.co/khonkaen/posts/580   3850000.0  3500000.0  3200000.0
9  https://nayoo.co/khonkaen/posts/582    990000.0  1000000.0   800000.0

In [256]:
townhome.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [257]:
Ans4_1 = mean_absolute_percentage_error(townhome['ราคาทรัพย์'],townhome['ประเมิน1'])
print(f'ผู้ประเมินคนที่ 1 ได้ค่า MAPE = {Ans4_1}')

ผู้ประเมินคนที่ 1 ได้ค่า MAPE = 0.11373507980201533

In [258]:
Ans4_2 = mean_absolute_percentage_error(townhome['ราคาทรัพย์'],townhome['ประเมิน2'])
print(f'ผู้ประเมินคนที่ 2 ได้ค่า MAPE = {Ans4_2}')

ผู้ประเมินคนที่ 2 ได้ค่า MAPE = 0.08766742521930593

In [259]:
Ans4 =(Ans4_1 - Ans4_2)
print(f'ความแตกต่างในการประเมินราคาที่ดินของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ {Ans4}')

ความแตกต่างในการประเมินราคาที่ดินของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ 0.026067654582709404

# อาคารพาณิชย์

In [260]:
building1 = data5[data5['ID ผู้ประเมิน']==1]

In [261]:
building2 = data5[data5['ID ผู้ประเมิน']==2]

In [262]:
building2['ประเมิน1'] = building2['post id'].map(building1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

<ipython-input-262-7c78a1da6e70>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  building2['ประเมิน1'] = building2['post id'].map(building1.set_index('post id')['ประเมินราคาซื้อ-ขาย']);

In [263]:
building2.rename(columns = {'ประเมินราคาซื้อ-ขาย' : 'ประเมิน2'}, inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [264]:
building = building2[['post id', 'ราคาทรัพย์', 'ประเมิน1', 'ประเมิน2']]
building.head()

                              post id  ราคาทรัพย์    ประเมิน1    ประเมิน2
1   https://nayoo.co/khonkaen/posts/6   7000000.0   6000000.0   8000000.0
3  https://nayoo.co/khonkaen/posts/17  12000000.0  12000000.0  12000000.0
5  https://nayoo.co/khonkaen/posts/21  22500000.0  13500000.0  20000000.0
7  https://nayoo.co/khonkaen/posts/22   3500000.0   4000000.0   4000000.0
9  https://nayoo.co/khonkaen/posts/24   3900000.0   2200000.0   3000000.0

In [265]:
building.isnull().any()

post id       False
ราคาทรัพย์    False
ประเมิน1      False
ประเมิน2      False
dtype: bool

In [266]:
Ans5_1 = mean_absolute_percentage_error(building['ราคาทรัพย์'],building['ประเมิน1'])
print(f'ผู้ประเมินคนที่ 1 ได้ค่า MAPE = {Ans5_1}')

ผู้ประเมินคนที่ 1 ได้ค่า MAPE = 0.17643894993894996

In [267]:
Ans5_2 = mean_absolute_percentage_error(building['ราคาทรัพย์'],building['ประเมิน2'])
print(f'ผู้ประเมินคนที่ 1 ได้ค่า MAPE = {Ans5_2}')

ผู้ประเมินคนที่ 1 ได้ค่า MAPE = 0.11732295482295482

In [268]:
Ans5 =(Ans5_1 - Ans5_2)
print(f'ความแตกต่างในการประเมินราคาที่ดินของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ {Ans5}')

ความแตกต่างในการประเมินราคาที่ดินของนักประเมินแต่ละคนโดยใช้ MAPE มีค่าเท่ากับ 0.059115995115995135